.app-comment:host {
    border: 1px solid black;
    position: relative;

    .app-comment {

        &__body {
            padding: 5px 15px;
        }

        &__author {
            font-weight: 600;
        }

        &__title {
            margin: 15px 0 0 0;
        }

        &__link {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}

.app-comment.app-comment--comment-page:host {

    .app-comment {

        &__body {
        }

        &__author {
            font-size: 20px;
        }

        &__title {
            font-size: 20px;
        }

        &__text {
            margin: 15px 0 0 0;
            font-size: 18px;
        }

        &__link-post {
            font-size: 16px;
            display: inline-block;
            margin: 30px 0 0 0;
        }
    }
}