<nav class="{{class}}__body">
    <ul class="{{class}}__list">
        <li class="{{class}}__item">
            <a class="{{class}}__link"
                [routerLink]="['/posts/']"
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact: true}"
            >Посты</a>
        </li>
        <li class="{{class}}__item">
            <a class="{{class}}__link"
                [routerLink]="['./users']"
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact: true}"
            >Пользователи</a>
        </li>
        <li class="{{class}}__item">
            <a class="{{class}}__link"
                [routerLink]="['./posts/']"
                [queryParams]="{value: true, data: 6}"
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact: true}"
            >f</a>
        </li>
    </ul>
</nav>