<ng-container *ngIf="isPostPage; else default">
    <div class="{{class}}__body">
        <ng-container [ngTemplateOutlet]="title"></ng-container>
        <p class="{{class}}__text">{{post.body}}</p>
        <ng-container [ngTemplateOutlet]="infoPost"></ng-container>
        <a [routerLink]="['/posts/post', post.id, 'comments']">Комментарии</a>
        <p class="{{class}}__edit">
            <button class="{{class}}__edit-button" (click)="toggleForm()">Редактировать</button>
        </p>
        <ng-container *ngIf="isFormVisible" [ngTemplateOutlet]="formTemplate"></ng-container>
    </div>
</ng-container>

<ng-template #default>
    <div class="{{class}}__body">
        <ng-container [ngTemplateOutlet]="title"></ng-container>
        <ng-container [ngTemplateOutlet]="infoPost"></ng-container>
        <a class="{{class}}__post-link" [routerLink]="['/posts/post', post.id]"></a>
    </div>
</ng-template>


<router-outlet></router-outlet>


<ng-template #infoPost>
    <div class="{{class}}__header">
        <span class="{{class}}__number">Номер поста: {{post.id}}</span>
        <a class="{{class}}__user" [routerLink]="['/posts/users', post.userId]">Автор: {{post.userId}}</a>
    </div>
</ng-template>

<ng-template #title>
    <h5 class="{{class}}__title">{{post.title}}</h5>
</ng-template>

<ng-template #formTemplate>
    <form class="{{class}}__form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
    >
        <div app-input
            [control]="titleControl"
            [placeholder]="'Заголовок'"
            [updateControl$]="updateControl$"
        ></div>
        <div app-input
            [control]="bodyControl"
            [placeholder]="'Текст'"
            [updateControl$]="updateControl$"
        ></div>

        <button class="{{class}}__form-button" type="submit">Отправить</button>
    </form>
</ng-template>