DataPassParentComponent

<br>
<br>
<button (click)="counterDown()">Уменьшить везде на 1</button>
<br>
<br>
<button (click)="childComponent.log()">Вызвать метод из дочернего компонента</button>
<br>
<br>
<button (click)="logChildComponent()">Логировать дочерний компонент полученный через класс</button>
<br>
<br>
<button (click)="logChildComponentRef()">Логировать дочерний компонент полученный через ссылку</button>
<br>
<br>
<button (click)="changeCounterserviceFromChildService(true)">Установить в сервисе serviceFromChildService + 1</button>
<button (click)="changeCounterserviceFromChildService()">Установить в сервисе serviceFromChildService - 1</button>
<br>
<br>
<button (click)="changeCounter(true)">Установить в сервисе ServiceNotProvidedInModuleService + 1</button>
<button (click)="changeCounter()">Установить в сервисе ServiceNotProvidedInModuleService - 1</button>

<br>

<div class="child"
    *ngFor="let hero of heroes"
    app-data-pass-child
    [hero]='hero'
    [text]="commonText"
    (counterChanged)="counterChangedHandler($event)"
    (inputChanged)="inputChangedHandler($event)"
></div>

<br>
<br>
<br>
<br>

<div app-data-pass-child
    #child
    [hero]='{
        name: "test",
        counter: 0,
        masterName: "test",
        age: 0
    }'
    [text]="commonText"
    (inputChanged)="inputChangedHandler($event)"
></div>