<div class="{{class}}__body">
    <h4 class="{{class}}__name">
        <a [routerLink]="['/posts/users', user.id]">{{user.name}}</a>
    </h4>
    <a class="{{class}}__phone" href="tel:{{user.phone}}">{{user.phone}}</a>
    <div *ngIf="user.website"
        class="{{class}}__site"
        >cайт:
        <a class="{{class}}__site-link" href="{{user.website}}">{{user.website}}</a>
    </div>
    <p><a (click)="togglePosts($event)" href="">Показать посты</a></p>
</div>

<router-outlet></router-outlet>