<p>PARENT</p>

<div>
    Change counter
    <button (click)="changeCounter(true)">Counter +</button>
    <button (click)="changeCounter()">Counter -</button>
    <button (click)="changeCounterByTimer()">Counter by timer</button>
    <button (click)="changeCounterByPromise()">Counter by promise</button>
</div>

<br>
<br>

<div>
    Change difficult
    <button (click)="changeDifficultOnNew()">Set new difficult</button>
    <button (click)="changeDifficultOnOld()">Set old difficult</button>
    <button (click)="modifyDifficult()">Modify difficult</button>
    <button (click)="modifyDifficultMarkForCheck()">Modify difficult with markForCheck</button>
</div>

<br>
<br>

<div>
    Local value: {{localValue}}
    <button (click)="changeLocalValue()">Change by timer</button>
</div>

<div app-detection-child
    [simpleValueFromParent]="simpleValueForChild"
    [difficultValueFromParent]="difficultValueForChild"
></div>