SlotComponent
<br>
<button (click)="plus()">Плюс</button>
<button (click)="minus()">Минус</button>
<br>
<br>
<br>

<div app-slot-child>
    <div class="selected-content" selected-content>
        Проецируемый контент select: {{value}}
    </div>
</div>

<br>
<br>

<div app-slot-child>
    <div class="default-content">
        Проецируемый контент дефолтный: {{value}}
    </div>
</div>

<br>
<br>

<div app-slot-child>
    <div class="default-content">
        Проецируемый контент дефолтный 2: {{value}}
    </div>
    <div class="selected-content" selected-content>
        Проецируемый контент select 2: {{value}}
    </div>
</div>