<br>
<br>
<br>
<br>

<p>CHILD</p>

<br>
<br>

<div>
    Counter from parent: {{simpleValueFromParent}}
</div>

<br>
<br>

<div>
    Difficult from parent
    <div>Name: {{difficultValueFromParent.name}}</div>
    <div>Age: {{difficultValueFromParent.age}}</div>
</div>

<br>
<br>

<div>
    <button (click)="changeLocalValue(true)">Change +</button>
    <button (click)="changeLocalValue()">Change -</button>
    <button (click)="changeLocalValueTimer()">Change by timer</button>
    <button (click)="changeLocalValuePromise()">Change by promise</button>
    <button (click)="changeLocalValuePromiseMarkForCheck()">Change by promise markForCheck</button>
    <button (click)="changeCounterWithCheckNoChanges()">Change with checkNoChanges</button>
    <br>
    Local value: {{localSimpleValue}}
</div>

<br>
<br>

<div>
    <button (click)="setNewDifficult()">Set new</button>
    <button (click)="setOldDifficult()">Set old</button>
    <button (click)="setModifiedDifficult()">Modify</button>
    <br>
    Difficult local values: {{localDifficultValue.name}} {{localDifficultValue.salary}} {{localDifficultValue.test.value}}
</div>

<br>
<br>

<div>
    Local value getter: {{localValueGetter}}
</div>

<br>
<br>

<div>
    <button (click)="runDetectChanges()">Run detectChanges</button>
</div>